@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Bricolage Grotesque', sans-serif;
}

label.block {
    text-align: left;
}

label {
    font-size: .9rem;
}

Footer input:not(:placeholder-shown)~button {
    @apply opacity-90;
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }


  .successo {
      @apply border-zinc-800 stroke-zinc-800 text-zinc-800;
  }

  .info {
      @apply border-orange-600 text-orange-600;
  }

  .warning {
      @apply border-amber-500 text-amber-500;
  }

  .error {
      @apply border-rose-600 stroke-rose-600 text-rose-600;
  }
}

.page-content {
    padding-top: calc(70px + theme("spacing.5"));
    padding-right: 0.625rem;
    padding-bottom: 60px;
    padding-left: 0.625rem;
}

/* Loader */
.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 80px;
    height: 80px;
    padding-left: 0;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #3b82f6;
    border-color: #3b82f6 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.linkk {
    width: 100%;
    display: inline-flex;
    color: #000000;
    text-decoration: none;
    transition: all 1s;
    border-radius: 5px;
}

.linkk:hover {
    background: rgba(91, 81, 81, 0.201);
    color: black;
    transition: all 0.5s;
}

.active-link {
    background: #E0A82E;
    color: black;
    border-radius: 5px;
    width: 100%;
    display: inline-flex;

}

.table-text {
    color: #84848F
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #FEAF00 !important;

}

.tabs-boxed {

    background-color: #fbf8f6 !important;

    border-radius: var(--rounded-btn, 0.5rem);
}

:root {
    background-color: #ffffff !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.react-datepicker__input-container input {
    @apply block w-full text-base md:text-sm bg-white border border-gray-300 rounded shadow-sm form-input
}

.react-datepicker-popper {
    @apply z-40 w-64 text-sm bg-white shadow px-3 py-2 border-2 border-gray-200 rounded-2xl
}
.react-datepicker__aria-live {
    @apply hidden
}
.react-datepicker-left {
    @apply absolute left-0 right-auto transform-none !important
}

.react-datepicker-right {
    @apply absolute right-0 left-auto top-11 transform-none !important
}

.react-datepicker__portal {
    @apply absolute z-10 w-72 text-sm transform-none bg-white shadow px-3 py-2 top-12 right-0 border-2 border-gray-200 rounded
}

.react-datepicker__month-container {
    @apply flex flex-col
}

.react-datepicker__month {
    @apply flex flex-col
}

.react-datepicker__current-month {
    @apply ml-2.5 text-lg font-semibold text-gray-800
}

.react-datepicker__week {
    @apply flex justify-around
}

.react-datepicker__day-names {
    @apply flex justify-around text-gray-400 font-medium text-center text-xs
}

.react-datepicker__day-name {
    @apply w-8 h-8 flex items-center justify-center py-1 rounded-full
}

.react-datepicker__navigation {
    @apply absolute top-2
}

.react-datepicker__navigation--previous {
    @apply right-12 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200
}

.react-datepicker__navigation--next {
    @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200
}

.react-datepicker__day {
    @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-gray-700 rounded hover:border-2 hover:border-slate-700 hover:cursor-pointer
}

.react-datepicker__day--disabled {
    @apply cursor-not-allowed opacity-40 hover:bg-transparent
}

.react-datepicker__day--outside-month {
    @apply text-gray-300
}

.react-datepicker__day--in-range {
    @apply bg-gray-200
}

.react-datepicker__day--in-selecting-range {
    @apply bg-slate-200
}

.react-datepicker__day--selecting-range-start {
    @apply bg-white border-2 border-slate-500
}

.react-datepicker__day--selecting-range-end {
    @apply bg-white border-2 border-slate-500
}

.react-datepicker__day--selected {
    @apply bg-slate-800 text-white
}

.react-datepicker__day--range-start {
    @apply bg-slate-800 text-white hover:text-gray-700 hover:bg-white
}

.react-datepicker__day--range-end {
    @apply bg-slate-800 text-white hover:text-gray-700 hover:bg-white
}